<div class="wrap post-wrap">

  <h2>{{ page.title }}</h2>

  <p class="post-meta">
    Posted
    <span class="post-date">
      <span datetime="{{ page.date | date_to_xmlschema }}" pubdate>
        {{ page.date | date: '%B' }} {{ page.date | date: '%d' }}, {{ page.date | date: '%Y' }}
      </span>
    </span>
    by <span class="post-author">{{ page.author }}</span>
  </p>

  <div class="post">
    {{ content }}
  </div>

  <hr />

  <ul class="social">
    <li class="twitter-tweet">
      <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a>
    </li>
    <li class="twitter-follow">
      <a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a>
    </li>
  </ul>

  <h3>Tags</h3>

  <ul class="tags">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
  </ul>

  <div class="comments">
    {% include JB/comments %}
  </div>

  <ul class="post-nav">
    {% if page.previous %}
      <li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
    {% endif %}
    {% if page.next %}
      <li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
    {% endif %}
  </ul>

</div>
