/* line 1, themes/custom/css/_reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 6, themes/custom/css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 11, themes/custom/css/_reset.scss */
fieldset, img, a img {
  border: none;
}

/* line 15, themes/custom/css/_reset.scss */
address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}

/* line 20, themes/custom/css/_reset.scss */
del, ins {
  text-decoration: none;
}

/* line 24, themes/custom/css/_reset.scss */
li {
  list-style: none;
}

/* line 28, themes/custom/css/_reset.scss */
caption, th {
  text-align: left;
}

/* line 32, themes/custom/css/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 37, themes/custom/css/_reset.scss */
q:before, q:after {
  content: '';
}

/* line 41, themes/custom/css/_reset.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 46, themes/custom/css/_reset.scss */
sup {
  vertical-align: baseline;
}

/* line 50, themes/custom/css/_reset.scss */
sub {
  vertical-align: baseline;
}

/* line 54, themes/custom/css/_reset.scss */
legend {
  color: #000;
}

/* line 36, themes/custom/css/style.scss */
html {
  background: #f8f8f8 url('themes/custom/images/body-bg.png?1370177701') repeat-y;
}

/* line 40, themes/custom/css/style.scss */
body {
  background: 100% 100% no-repeat;
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 40, themes/custom/css/style.scss */
  body {
    background-image: url('themes/custom/images/beakers.png?1370225690');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 40, themes/custom/css/style.scss */
  body {
    background-image: url('themes/custom/images/beakers@2x.png?1370225690');
    background-size: 374px 354px;
  }
}

/* line 56, themes/custom/css/style.scss */
.wrap {
  margin: 20px;
}

/* line 60, themes/custom/css/style.scss */
h2 {
  font-size: 1.6em;
  margin-bottom: 20px;
}

/* line 65, themes/custom/css/style.scss */
h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

/* line 70, themes/custom/css/style.scss */
p {
  line-height: 1.5;
  margin: 10px 0;
}

/* line 76, themes/custom/css/style.scss */
a:link,
a:visited {
  color: #f68122;
  text-decoration: none;
}

/* line 83, themes/custom/css/style.scss */
a:hover,
a:focus,
a:active {
  color: #9ec26b;
  text-decoration: underline;
}

/* line 88, themes/custom/css/style.scss */
code {
  background: #f2f2f2;
  border: solid 1px #e3e3e3;
  padding: 3px 5px;
}

/* line 95, themes/custom/css/style.scss */
p code:first-child,
pre code {
  display: block;
}

/* line 99, themes/custom/css/style.scss */
hr {
  border: none;
  border-top: solid 1px #d3d3d3;
  margin: 20px 0;
}

/* line 105, themes/custom/css/style.scss */
.clearfix:before, .post-in-list a:before, .tags:before, .projects li a:before, .post-nav:before, .clearfix:after, .post-in-list a:after, .tags:after, .projects li a:after, .post-nav:after {
  content: "";
  display: table;
}

/* line 106, themes/custom/css/style.scss */
.clearfix:after, .post-in-list a:after, .tags:after, .projects li a:after, .post-nav:after {
  clear: both;
}

/* line 108, themes/custom/css/style.scss */
.header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
}

/* line 117, themes/custom/css/style.scss */
.logo {
  margin-bottom: 20px;
}
/* line 120, themes/custom/css/style.scss */
.logo a {
  background-repeat: url('themes/custom/images/logo.png?1370225074') no-repeat;
  display: block;
  text-indent: -9999px;
  width: 200px;
  height: 60px;
}
@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 120, themes/custom/css/style.scss */
  .logo a {
    background-image: url('themes/custom/images/logo.png?1370225074');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 120, themes/custom/css/style.scss */
  .logo a {
    background-image: url('themes/custom/images/logo@2x.png?1370225901');
    background-size: 200px 60px;
  }
}

/* line 136, themes/custom/css/style.scss */
.nav {
  font-size: 1.4em;
  padding-left: 20px;
}
/* line 140, themes/custom/css/style.scss */
.nav li {
  margin: 10px 0;
}
/* line 144, themes/custom/css/style.scss */
.nav a {
  color: #565656;
  text-decoration: none;
}
/* line 149, themes/custom/css/style.scss */
.nav a:hover, .nav a:focus {
  color: #f68122;
}

/* line 155, themes/custom/css/style.scss */
.main {
  margin-left: 230px;
  padding-bottom: 40px;
  width: 730px;
}

/* line 162, themes/custom/css/style.scss */
.post-in-list a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}
/* line 169, themes/custom/css/style.scss */
.post-in-list a:hover, .post-in-list a:focus {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #efefef), color-stop(40%, #efefef), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, #efefef, #efefef 40%, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(left, #efefef, #efefef 40%, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, #efefef, #efefef 40%, rgba(255, 255, 255, 0));
  background: linear-gradient(left, #efefef, #efefef 40%, rgba(255, 255, 255, 0));
  border-left: solid 5px;
  padding-left: 15px;
}
/* line 175, themes/custom/css/style.scss */
.post-in-list a .icon {
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 90px;
  height: 90px;
}
/* line 183, themes/custom/css/style.scss */
.post-in-list a .post-in-list-content {
  margin-left: 105px;
}
/* line 187, themes/custom/css/style.scss */
.post-in-list a h3 {
  color: #011f60;
  margin: 0 0 5px;
}
/* line 192, themes/custom/css/style.scss */
.post-in-list a p {
  color: #727272;
  margin: 5px 0 0;
}
/* line 197, themes/custom/css/style.scss */
.post-in-list a .post-meta {
  font-size: .9em;
}
/* line 202, themes/custom/css/style.scss */
.post-in-list a .post-date,
.post-in-list a .post-author {
  color: #333;
}

/* line 209, themes/custom/css/style.scss */
.blue a:hover,
.blue a:focus {
  border-left-color: #011f60;
}

/* line 214, themes/custom/css/style.scss */
.green a:hover,
.green a:focus {
  border-left-color: #9ec26b;
}

/* line 219, themes/custom/css/style.scss */
.orange a:hover,
.orange a:focus {
  border-left-color: #f68122;
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .blue a .molecule-caffeine {
    background-image: url('themes/custom/images/molecule-caffeine-blue.png?1370226161');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .blue a .molecule-caffeine {
    background-image: url('themes/custom/images/molecule-caffeine-blue@2x.png?1370226161');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .blue a .molecule-adrenaline {
    background-image: url('themes/custom/images/molecule-adrenaline-blue.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .blue a .molecule-adrenaline {
    background-image: url('themes/custom/images/molecule-adrenaline-blue@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .blue a .molecule-dopamine {
    background-image: url('themes/custom/images/molecule-dopamine-blue.png?1370226161');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .blue a .molecule-dopamine {
    background-image: url('themes/custom/images/molecule-dopamine-blue@2x.png?1370226161');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .blue a .molecule-acetaminophen {
    background-image: url('themes/custom/images/molecule-acetaminophen-blue.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .blue a .molecule-acetaminophen {
    background-image: url('themes/custom/images/molecule-acetaminophen-blue@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .green a .molecule-caffeine {
    background-image: url('themes/custom/images/molecule-caffeine-green.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .green a .molecule-caffeine {
    background-image: url('themes/custom/images/molecule-caffeine-green@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .green a .molecule-adrenaline {
    background-image: url('themes/custom/images/molecule-adrenaline-green.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .green a .molecule-adrenaline {
    background-image: url('themes/custom/images/molecule-adrenaline-green@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .green a .molecule-dopamine {
    background-image: url('themes/custom/images/molecule-dopamine-green.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .green a .molecule-dopamine {
    background-image: url('themes/custom/images/molecule-dopamine-green@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .green a .molecule-acetaminophen {
    background-image: url('themes/custom/images/molecule-acetaminophen-green.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .green a .molecule-acetaminophen {
    background-image: url('themes/custom/images/molecule-acetaminophen-green@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .orange a .molecule-caffeine {
    background-image: url('themes/custom/images/molecule-caffeine-orange.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .orange a .molecule-caffeine {
    background-image: url('themes/custom/images/molecule-caffeine-orange@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .orange a .molecule-adrenaline {
    background-image: url('themes/custom/images/molecule-adrenaline-orange.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .orange a .molecule-adrenaline {
    background-image: url('themes/custom/images/molecule-adrenaline-orange@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .orange a .molecule-dopamine {
    background-image: url('themes/custom/images/molecule-dopamine-orange.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .orange a .molecule-dopamine {
    background-image: url('themes/custom/images/molecule-dopamine-orange@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 225, themes/custom/css/style.scss */
  .orange a .molecule-acetaminophen {
    background-image: url('themes/custom/images/molecule-acetaminophen-orange.png?1370226160');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 225, themes/custom/css/style.scss */
  .orange a .molecule-acetaminophen {
    background-image: url('themes/custom/images/molecule-acetaminophen-orange@2x.png?1370226160');
    background-size: 90px 90px;
  }
}

/* line 237, themes/custom/css/style.scss */
.post-archive-link {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;
}
/* line 242, themes/custom/css/style.scss */
.post-archive-link a {
  background: #011f60;
  color: #f8f8f8;
  display: inline-block;
  padding: 6px 12px;
  text-decoration: none;
}
/* line 250, themes/custom/css/style.scss */
.post-archive-link a:hover, .post-archive-link a:focus {
  background: #9ec26b;
}

/* line 256, themes/custom/css/style.scss */
.tags {
  margin: 10px 0;
}
/* line 260, themes/custom/css/style.scss */
.tags li {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 264, themes/custom/css/style.scss */
.tags li a {
  color: #565656;
  display: block;
  text-decoration: none;
}
/* line 269, themes/custom/css/style.scss */
.tags li a span {
  display: block;
}
/* line 273, themes/custom/css/style.scss */
.tags li a .tag-name {
  border: solid 1px #e3e3e3;
  border-right: none;
  float: left;
  padding: 4px 7px;
}
/* line 280, themes/custom/css/style.scss */
.tags li a .tag-count {
  background: #e3e3e3;
  float: right;
  color: #565656;
  padding: 5px 8px;
}
/* line 289, themes/custom/css/style.scss */
.tags li a:hover .tag-name, .tags li a:focus .tag-name {
  background: #e3e3e3;
}

/* line 297, themes/custom/css/style.scss */
.has-top {
  position: relative;
}

/* line 301, themes/custom/css/style.scss */
.top {
  font-size: 13px;
  position: absolute;
  top: 3px;
  right: 0;
}

/* line 309, themes/custom/css/style.scss */
.projects li a {
  color: #011f60;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
/* line 317, themes/custom/css/style.scss */
.projects li a:hover, .projects li a:focus {
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #efefef), color-stop(40%, #efefef), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, #efefef, #efefef 40%, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(left, #efefef, #efefef 40%, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(left, #efefef, #efefef 40%, rgba(255, 255, 255, 0));
  background: linear-gradient(left, #efefef, #efefef 40%, rgba(255, 255, 255, 0));
  border-left: solid 5px;
  padding-left: 10px;
}
/* line 323, themes/custom/css/style.scss */
.projects li a .icon {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
}
/* line 330, themes/custom/css/style.scss */
.projects li a .project-content {
  margin-left: 75px;
}
/* line 334, themes/custom/css/style.scss */
.projects li a h3 {
  font-size: 1.4em;
  margin: 0 0 5px;
}
/* line 339, themes/custom/css/style.scss */
.projects li a p {
  color: #727272;
  margin: 5px 0 0;
}

/* line 348, themes/custom/css/style.scss */
.projects .js a:hover,
.projects .js a:focus {
  border-left-color: #011f60;
}
/* line 353, themes/custom/css/style.scss */
.projects .vim a:hover,
.projects .vim a:focus {
  border-left-color: #9ec26b;
}
/* line 358, themes/custom/css/style.scss */
.projects .sublime a:hover,
.projects .sublime a:focus {
  border-left-color: #f68122;
}
/* line 363, themes/custom/css/style.scss */
.projects .general a:hover,
.projects .general a:focus {
  border-left-color: #565656;
}

/* line 369, themes/custom/css/style.scss */
.js .icon {
  background-repeat: no-repeat;
}
@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 369, themes/custom/css/style.scss */
  .js .icon {
    background-image: url('themes/custom/images/icon-js.png?1370226202');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 369, themes/custom/css/style.scss */
  .js .icon {
    background-image: url('themes/custom/images/icon-js@2x.png?1370226202');
    background-size: 60px 60px;
  }
}

/* line 369, themes/custom/css/style.scss */
.vim .icon {
  background-repeat: no-repeat;
}
@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 369, themes/custom/css/style.scss */
  .vim .icon {
    background-image: url('themes/custom/images/icon-vim.png?1370226202');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 369, themes/custom/css/style.scss */
  .vim .icon {
    background-image: url('themes/custom/images/icon-vim@2x.png?1370226202');
    background-size: 60px 60px;
  }
}

/* line 369, themes/custom/css/style.scss */
.sublime .icon {
  background-repeat: no-repeat;
}
@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 369, themes/custom/css/style.scss */
  .sublime .icon {
    background-image: url('themes/custom/images/icon-sublime.png?1370226202');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 369, themes/custom/css/style.scss */
  .sublime .icon {
    background-image: url('themes/custom/images/icon-sublime@2x.png?1370226202');
    background-size: 60px 60px;
  }
}

/* line 369, themes/custom/css/style.scss */
.general .icon {
  background-repeat: no-repeat;
}
@media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
  /* line 369, themes/custom/css/style.scss */
  .general .icon {
    background-image: url('themes/custom/images/icon-general.png?1370226202');
  }
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 369, themes/custom/css/style.scss */
  .general .icon {
    background-image: url('themes/custom/images/icon-general@2x.png?1370226202');
    background-size: 60px 60px;
  }
}

/* line 382, themes/custom/css/style.scss */
.post .post-meta {
  color: #727272;
  float: left;
  font-size: .9em;
  margin-top: 0;
}
/* line 388, themes/custom/css/style.scss */
.post .post-meta span {
  color: #333;
}
/* line 393, themes/custom/css/style.scss */
.post .readability {
  float: right;
}
/* line 397, themes/custom/css/style.scss */
.post h3 {
  margin-top: 20px;
}

/* line 402, themes/custom/css/style.scss */
.post-nav {
  margin: 20px 0;
}
/* line 406, themes/custom/css/style.scss */
.post-nav .prev {
  float: left;
}
/* line 410, themes/custom/css/style.scss */
.post-nav .next {
  float: right;
}

/* line 415, themes/custom/css/style.scss */
.social {
  float: right;
  margin-top: 10px;
}

@media only screen and (max-width: 960px) {
  /* line 5, themes/custom/css/_responsive.scss */
  .main {
    width: auto;
  }
}
@media only screen and (max-width: 680px) {
  /* line 14, themes/custom/css/_responsive.scss */
  .clearfix:before, .post-in-list a:before, .tags:before, .projects li a:before, .post-nav:before, .header:before, .clearfix:after, .post-in-list a:after, .tags:after, .projects li a:after, .post-nav:after, .header:after {
    content: "";
    display: table;
  }

  /* line 15, themes/custom/css/_responsive.scss */
  .clearfix:after, .post-in-list a:after, .tags:after, .projects li a:after, .post-nav:after, .header:after {
    clear: both;
  }

  /* line 17, themes/custom/css/_responsive.scss */
  html {
    background: #f8f8f8;
  }

  /* line 21, themes/custom/css/_responsive.scss */
  .header {
    background: #f2f2f2;
    border-bottom: solid 1px #eaeaea;
    position: static;
    width: auto;
  }

  /* line 29, themes/custom/css/_responsive.scss */
  .logo {
    float: left;
    margin: 0;
  }

  /* line 34, themes/custom/css/_responsive.scss */
  .nav {
    float: right;
  }
  /* line 37, themes/custom/css/_responsive.scss */
  .nav li {
    display: inline-block;
    margin-left: 20px;
    height: 60px;
    line-height: 60px;
  }
  /* line 43, themes/custom/css/_responsive.scss */
  .nav li:first-child {
    margin-left: 0;
  }

  /* line 49, themes/custom/css/_responsive.scss */
  .main {
    margin-left: 0;
  }
}
@media only screen and (max-width: 550px) {
  /* line 58, themes/custom/css/_responsive.scss */
  .logo {
    float: none;
  }
  /* line 60, themes/custom/css/_responsive.scss */
  .logo a {
    margin: 0 auto 10px;
  }

  /* line 65, themes/custom/css/_responsive.scss */
  .nav {
    float: none;
    padding-left: 0;
    text-align: center;
  }
  /* line 70, themes/custom/css/_responsive.scss */
  .nav li {
    height: auto;
    line-height: 1;
  }
}
@media only screen and (max-width: 450px) {
  /* line 84, themes/custom/css/_responsive.scss */
  .post-in-list a .icon {
    display: none;
  }
  /* line 88, themes/custom/css/_responsive.scss */
  .post-in-list a .post-in-list-content {
    margin-left: 0;
  }

  /* line 94, themes/custom/css/_responsive.scss */
  .projects li a .icon {
    display: none;
  }
  /* line 98, themes/custom/css/_responsive.scss */
  .projects li a .project-content {
    margin-left: 0;
  }
}
