//
// <= 960
//
@media only screen and (max-width: 960px) {
  .main {
    width: auto;
  }

  .post-nav {
    .prev,
    .next {
      float: none;
    }

    .next {
      margin-top: 15px;
      text-align: right;
    }

    a {
      background: $tnw-orange;
      color: #FFF;
      display: block;
      padding: 8px 12px;
      text-decoration: none;

      &:hover,
      &:focus {
        background: $tnw-green;
      }
    }
  }

  .gist .gist-file .gist-data {
    font-size: 80% !important;
  }
}

//
// <= 680
//
@media only screen and (max-width: 680px) {
  html {
    background: #f8f8f8;
  }

  .header {
    background: #f2f2f2;
    border-bottom: solid 1px #eaeaea;
    position: static;
    width: auto;
  }

  .logo {
    float: left;
    margin: 0;
  }

  .nav {
    float: right;

    li {
      display: inline-block;
      margin-left: 20px;
      height: 60px;
      line-height: 60px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .main {
    margin-left: 0;
  }
}

//
// <= 550
//
@media only screen and (max-width: 550px) {
  .logo {
    float: none;
    a {
      margin: 0 auto 10px;
    }
  }

  .nav {
    float: none;
    padding-left: 0;
    text-align: center;

    li {
      height: auto;
      line-height: 1;
    }
  }


}

//
// <= 450
//
@media only screen and (max-width: 450px) {
  .post-in-list a {
    .icon {
      display: none;
    }

    .post-in-list-content {
      margin-left: 0;
    }
  }

  .projects li a {
    .icon {
      display: none;
    }

    .project-content {
      margin-left: 0;
    }
  }
}
