@import "reset";
@import "compass";
@import "compass/css3";

@mixin if-min-resolution($dppx) {
  @include if-resolution(min, $dppx) {
    @content;
  }
}

@mixin if-max-resolution($dppx) {
  @include if-resolution(max, $dppx) {
    @content;
  }
}

@mixin if-resolution($prefix, $dppx) {
  // 1px = 96dpi
  $dpi: $dppx * 96;
  @media
    (-webkit-#{$prefix}-device-pixel-ratio: #{$dppx}),
    (   #{$prefix}--moz-device-pixel-ratio: #{$dppx}),
    (     -o-#{$prefix}-device-pixel-ratio: #{$dppx*2}/2),
    (        #{$prefix}-device-pixel-ratio: #{$dppx}),
    (                #{$prefix}-resolution: #{$dpi}dpi),
    (                #{$prefix}-resolution: #{$dppx}dppx) {
      @content;
  }
}

$tnw-blue: #011f60;
$tnw-green: #9ec26b;
$tnw-orange: #f68122;
$logo-gray: #565656;

html {
  background: #f8f8f8 image-url("body-bg.png") no-repeat;
}

body {
  background: 100% 100% no-repeat;
  @include if-max-resolution(1.49) {
    background-image: image-url("beakers.png");
  }
  @include if-min-resolution(1.5) {
    background-image: image-url("beakers@2x.png");
    background-size: 374px 354px;
  }
  color: #333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.wrap {
  margin: 20px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
  margin: 10px 0;
}

a:link,
a:visited {
  color: $tnw-orange;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: $tnw-green;
  text-decoration: underline;
}

code {
  background: #f2f2f2;
  border: solid 1px #e3e3e3;
  padding: 3px 5px;
}

p code:first-child,
pre code {
  display: block;
}

hr {
  border: none;
  border-top: solid 1px #d3d3d3;
  margin: 20px 0;
}

.clearfix:before,.clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }

.header {
  @include box-sizing(border-box);
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
}

.logo {
  margin-bottom: 20px;

  a {
    background-repeat: image-url("logo.png") no-repeat;
    @include if-max-resolution(1.49) {
      background-image: image-url("logo.png");
    }
    @include if-min-resolution(1.5) {
      background-image: image-url("logo@2x.png");
      background-size: 200px 60px;
    }
    display: block;
    text-indent: -9999px;
    width: 200px;
    height: 60px;
  }
}

.nav {
  font-size: 1.4em;
  padding-left: 20px;

  li {
    margin: 10px 0;
  }

  a {
    color: $logo-gray;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $tnw-orange;
    }
  }
}

.main {
  margin-left: 230px;
  padding-bottom: 40px;
  width: 730px;
}

.post-in-list {
  a {
    @extend .clearfix;
    display: block;
    padding: 15px 20px;
    text-decoration: none;

    &:hover,
    &:focus {
      @include background(linear-gradient(left, #efefef, #efefef 40%, rgba(255,255,255,0)));
      border-left: solid 5px;
      padding-left: 15px;
    }

    .icon {
      background-repeat: no-repeat;
      display: block;
      float: left;
      width: 90px;
      height: 90px;
    }

    .post-in-list-content {
      margin-left: 105px;
    }

    h3 {
      color: $tnw-blue;
      margin: 0 0 5px;
    }

    p {
      color: #727272;
      margin: 5px 0 0;
    }

    .post-meta {
      font-size: .9em;
    }

    .post-date,
    .post-author {
      color: #333;
    }
  }
}

.blue a:hover,
.blue a:focus {
  border-left-color: $tnw-blue;
}

.green a:hover,
.green a:focus {
  border-left-color: $tnw-green;
}

.orange a:hover,
.orange a:focus {
  border-left-color: $tnw-orange;
}

@each $color in blue, green, orange {
  @each $molecule in caffeine, adrenaline, dopamine, acetaminophen {
    .#{$color} a .molecule-#{$molecule} {
      @include if-max-resolution(1.49) {
        background-image: image-url("molecule-#{$molecule}-#{$color}.png");
      }
      @include if-min-resolution(1.5) {
        background-image: image-url("molecule-#{$molecule}-#{$color}@2x.png");
        background-size: 90px 90px;
      }
    }
  }
}

.post-archive-link {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center;

  a {
    background: $tnw-blue;
    color: #f8f8f8;
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $tnw-green;
    }
  }
}

.tags {
  @extend .clearfix;
  margin: 10px 0;

  li {
    float: left;
    margin: 0 10px 10px 0;

    a {
      color: $logo-gray;
      display: block;
      text-decoration: none;

      span {
        display: block;
      }

      .tag-name {
        border: solid 1px #e3e3e3;
        border-right: none;
        float: left;
        padding: 4px 7px;
      }

      .tag-count {
        background: #e3e3e3;
        float: right;
        color: $logo-gray;
        padding: 5px 8px;
      }

      &:hover,
      &:focus {
        .tag-name {
          background: #e3e3e3;
        }
      }
    }
  }
}

.has-top {
  position: relative;
}

.top {
  font-size: 13px;
  position: absolute;
  top: 3px;
  right: 0;
}

.projects li {
  a {
    @extend .clearfix;
    color: $tnw-blue;
    display: block;
    padding: 10px 15px;
    text-decoration: none;

    &:hover,
    &:focus {
      @include background(linear-gradient(left, #efefef, #efefef 40%, rgba(255,255,255,0)));
      border-left: solid 5px;
      padding-left: 10px;
    }

    .icon {
      display: block;
      float: left;
      width: 60px;
      height: 60px;
    }

    .project-content {
      margin-left: 75px;
    }

    h3 {
      font-size: 1.4em;
      margin: 0 0 5px;
    }

    p {
      color: #727272;
      margin: 5px 0 0;
    }
  }
}

.projects {
  .js a:hover,
  .js a:focus {
    border-left-color: $tnw-blue;
  }

  .vim a:hover,
  .vim a:focus {
    border-left-color: $tnw-green;
  }

  .sublime a:hover,
  .sublime a:focus {
    border-left-color: $tnw-orange;
  }

  .general a:hover,
  .general a:focus {
    border-left-color: $logo-gray;
  }
}

@each $type in js, vim, sublime, general {
  .#{$type} .icon {
    background-repeat: no-repeat;
    @include if-max-resolution(1.49) {
      background-image: image-url("icon-#{$type}.png");
    }
    @include if-min-resolution(1.5) {
      background-image: image-url("icon-#{$type}@2x.png");
      background-size: 60px 60px;
    }
  }
}

.post {
  .post-meta {
    color: #727272;
    float: left;
    font-size: .9em;
    margin-top: 0;

    span {
      color: #333;
    }
  }

  .readability {
    float: right;
  }

  h3 {
    margin-top: 20px;
  }
}

.post-nav {
  @extend .clearfix;
  margin: 20px 0;

  .prev {
    float: left;
  }

  .next {
    float: right;
  }
}

.social {
  float: right;
  margin-top: 10px;
}

@import "responsive";
